# file Icm2.ucf
# icacam2 pin mapping
# author Alexander Wirthmueller
# date created: 22 Sep 2017
# modified: 22 Sep 2017

# bank0 2.5V
NET "extclkn" LOC=P86;
NET "extclkp" LOC=P85 | PERIOD=5ns;
NET "f_sens" LOC=P78 | IOSTANDARD=LVCMOS25;
NET "f_sw" LOC=P84 | IOSTANDARD=LVCMOS25;
NET "ledg" LOC=P92 | IOSTANDARD=LVCMOS25;
NET "ledr" LOC=P79 | IOSTANDARD=LVCMOS25;
NET "m_miso" LOC=P99 | IOSTANDARD=LVCMOS25;
NET "m_mosi" LOC=P98 | IOSTANDARD=LVCMOS25;
NET "m_nss" LOC=P94 | IOSTANDARD=LVCMOS25;
NET "m_sclk" LOC=P95 | IOSTANDARD=LVCMOS25 | PERIOD=100ns | CLOCK_DEDICATED_ROUTE=FALSE;

# bank1 3.3V
NET "a_miso" LOC=P63 | IOSTANDARD=LVCMOS33;
NET "a_mosi" LOC=P62 | IOSTANDARD=LVCMOS33;
NET "a_ncs" LOC=P60 | IOSTANDARD=LVCMOS33;
NET "a_sclk" LOC=P61 | IOSTANDARD=LVCMOS33 | PERIOD=500ns;
NET "p_miso" LOC=P68 | IOSTANDARD=LVCMOS33;
NET "p_mosi" LOC=P67 | IOSTANDARD=LVCMOS33;
NET "p_ncs" LOC=P65 | IOSTANDARD=LVCMOS33;
NET "p_sclk" LOC=P66 | IOSTANDARD=LVCMOS33 | PERIOD=80ns;
NET "s_miso" LOC=P58 | IOSTANDARD=LVCMOS33;
NET "s_mosi" LOC=P57 | IOSTANDARD=LVCMOS33;
NET "s_ncs" LOC=P53 | IOSTANDARD=LVCMOS33;
NET "s_sclk" LOC=P54 | IOSTANDARD=LVCMOS33 | PERIOD=80ns;

# bank3 3.3V
NET "q_cmt" LOC=P18 | IOSTANDARD=LVCMOS33;
NET "q_cs" LOC=P9 | IOSTANDARD=LVCMOS33;
NET "q_decmt" LOC=P17 | IOSTANDARD=LVCMOS33;
NET "q_miso" LOC=P16 | IOSTANDARD=LVCMOS33;
NET "q_mosi" LOC=P11 | IOSTANDARD=LVCMOS33;
NET "q_reset" LOC=P15 | IOSTANDARD=LVCMOS33;
NET "q_sbs" LOC=P23 | IOSTANDARD=LVCMOS33;
NET "q_sclk" LOC=P12 | IOSTANDARD=LVCMOS33 | PERIOD=500ns;
NET "sig" LOC=P22 | IOSTANDARD=LVCMOS33;
NET "v_miso" LOC=P4 | IOSTANDARD=LVCMOS33;
NET "v_mosi" LOC=P5 | IOSTANDARD=LVCMOS33;
NET "v_ncs" LOC=P3 | IOSTANDARD=LVCMOS33;
NET "v_sclk" LOC=P2 | IOSTANDARD=LVCMOS33 | PERIOD=120ns;

