# file Dcx3.ucf
# dspcomplex3 pin mapping
# author Alexander Wirthmueller
# date created: 28 Nov 2016
# modified: 28 Nov 2016

# bank0 2.5V
NET "extclkn" LOC=A10;
NET "extclkp" LOC=B10 | PERIOD=5ns;
NET "ledg" LOC=A8 | IOSTANDARD=LVCMOS25;
NET "ledr" LOC=A11 | IOSTANDARD=LVCMOS25;
NET "l_asck" LOC=D14 | IOSTANDARD=LVCMOS25 | PERIOD=120ns;
NET "l_asdi" LOC=B14 | IOSTANDARD=LVCMOS25;
NET "l_asdo" LOC=A14 | IOSTANDARD=LVCMOS25;
NET "l_lio0" LOC=B6 | IOSTANDARD=LVCMOS25;
NET "l_nass" LOC=C14 | IOSTANDARD=LVCMOS25;
NET "l_npss" LOC=D9 | IOSTANDARD=LVCMOS25;
NET "l_nqss" LOC=B4 | IOSTANDARD=LVCMOS25;
NET "l_ntss" LOC=B13 | IOSTANDARD=LVCMOS25;
NET "l_psck" LOC=C9 | IOSTANDARD=LVCMOS25 | PERIOD=100ns;
NET "l_psdi" LOC=C5 | IOSTANDARD=LVCMOS25;
NET "l_psdo" LOC=A4 | IOSTANDARD=LVCMOS25;
NET "l_qsck" LOC=D11 | IOSTANDARD=LVCMOS25 | PERIOD=100ns;
NET "l_qsdi" LOC=C11 | IOSTANDARD=LVCMOS25;
NET "l_qsdo" LOC=D10 | IOSTANDARD=LVCMOS25;
NET "l_rio0" LOC=A13 | IOSTANDARD=LVCMOS25;
NET "l_tsck" LOC=C3 | IOSTANDARD=LVCMOS25 | PERIOD=100ns | CLOCK_DEDICATED_ROUTE=FALSE;
NET "l_tsdi" LOC=C7 | IOSTANDARD=LVCMOS25;
NET "l_tsdo" LOC=D7 | IOSTANDARD=LVCMOS25;
NET "nxss" LOC=B11 | IOSTANDARD=LVCMOS25;
NET "xsck" LOC=A6 | IOSTANDARD=LVCMOS25 | PERIOD=200ns;
NET "xsdi" LOC=B16 | IOSTANDARD=LVCMOS25;
NET "xsdo" LOC=A16 | IOSTANDARD=LVCMOS25;

# bank1 1.8V
NET "exg_nn_sysen" LOC=E18 | IOSTANDARD=LVCMOS18;
NET "exg_s1clk" LOC=H15 | IOSTANDARD=LVCMOS18 | PERIOD=25ns | CLOCK_DEDICATED_ROUTE=FALSE;
NET "exg_s1cs0_s1cs1" LOC=F18 | IOSTANDARD=LVCMOS18;
NET "exg_s1miso" LOC=F17 | IOSTANDARD=LVCMOS18;
NET "exg_s1mosi" LOC=G16 | IOSTANDARD=LVCMOS18;
NET "exg_s1nirq_s1cs0" LOC=G15 | IOSTANDARD=LVCMOS18;
NET "exg_sysen_nn" LOC=G18 | IOSTANDARD=LVCMOS18;

# bank2 3.3V
NET "sr_a[0]" LOC=R8 | IOSTANDARD=LVCMOS33;
NET "sr_a[10]" LOC=V12 | IOSTANDARD=LVCMOS33;
NET "sr_a[11]" LOC=V13 | IOSTANDARD=LVCMOS33;
NET "sr_a[12]" LOC=T12 | IOSTANDARD=LVCMOS33;
NET "sr_a[13]" LOC=R12 | IOSTANDARD=LVCMOS33;
NET "sr_a[14]" LOC=P13 | IOSTANDARD=LVCMOS33;
NET "sr_a[15]" LOC=R13 | IOSTANDARD=LVCMOS33;
NET "sr_a[16]" LOC=T14 | IOSTANDARD=LVCMOS33;
NET "sr_a[17]" LOC=R14 | IOSTANDARD=LVCMOS33;
NET "sr_a[18]" LOC=V15 | IOSTANDARD=LVCMOS33;
NET "sr_a[19]" LOC=U15 | IOSTANDARD=LVCMOS33;
NET "sr_a[1]" LOC=T8 | IOSTANDARD=LVCMOS33;
NET "sr_a[20]" LOC=T16 | IOSTANDARD=LVCMOS33;
NET "sr_a[2]" LOC=U4 | IOSTANDARD=LVCMOS33;
NET "sr_a[3]" LOC=T15 | IOSTANDARD=LVCMOS33;
NET "sr_a[4]" LOC=U9 | IOSTANDARD=LVCMOS33;
NET "sr_a[5]" LOC=V9 | IOSTANDARD=LVCMOS33;
NET "sr_a[6]" LOC=R10 | IOSTANDARD=LVCMOS33;
NET "sr_a[7]" LOC=P10 | IOSTANDARD=LVCMOS33;
NET "sr_a[8]" LOC=P11 | IOSTANDARD=LVCMOS33;
NET "sr_a[9]" LOC=T4 | IOSTANDARD=LVCMOS33;
NET "sr_d[0]" LOC=R5 | IOSTANDARD=LVCMOS33;
NET "sr_d[1]" LOC=T5 | IOSTANDARD=LVCMOS33;
NET "sr_d[2]" LOC=R6 | IOSTANDARD=LVCMOS33;
NET "sr_d[3]" LOC=P6 | IOSTANDARD=LVCMOS33;
NET "sr_d[4]" LOC=U5 | IOSTANDARD=LVCMOS33;
NET "sr_d[5]" LOC=P7 | IOSTANDARD=LVCMOS33;
NET "sr_d[6]" LOC=P8 | IOSTANDARD=LVCMOS33;
NET "sr_d[7]" LOC=U3 | IOSTANDARD=LVCMOS33;
NET "sr_nce" LOC=P9 | IOSTANDARD=LVCMOS33;
NET "sr_noe" LOC=R11 | IOSTANDARD=LVCMOS33;
NET "sr_nwe" LOC=R9 | IOSTANDARD=LVCMOS33;

# bank3 2.5V
NET "lw_clkn" LOC=H1;
NET "lw_clkp" LOC=H2 | PERIOD=6ns;
NET "lw_d1n" LOC=J2;
NET "lw_d1p" LOC=J1;
NET "lw_d2n" LOC=K4;
NET "lw_d2p" LOC=K3;
NET "lw_extsnc" LOC=M3 | IOSTANDARD=LVCMOS25;
NET "lw_rx" LOC=M6 | IOSTANDARD=LVCMOS25;
NET "lw_sncn" LOC=J4;
NET "lw_sncp" LOC=J5;
NET "lw_tx" LOC=M5 | IOSTANDARD=LVCMOS25;
NET "r_d15pwm" LOC=L1 | IOSTANDARD=LVCMOS25;
NET "r_d60pwm" LOC=L2 | IOSTANDARD=LVCMOS25;

